<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>xkcd - pwa</title>

    <link rel="apple-touch-icon" sizes="144x144" href="../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../manifest.json">
    <link rel="mask-icon" href="../images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#333333">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <template id="post-template">
        <div class="post-wrapper">
            <section class="post">
                <h3 class="title"><a href="#">Title</a></h3>
                <div class="content">
                    <img class="img"></img>
                    <div class="alt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, iste!</div>
                </div>
            </section>
            <hr />
        </div>
    </template>
    <h1 class="banner">
        <span>xkcd</span>
        <img src="../images/shuffle.png" alt="shuffle">
    </h1>
    <div class="post-container"></div>
    <div class="goto-top"><img src="../images/top.png" alt="go to top"></div>

    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-messaging.js"></script>
</body>

</html>