<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>xkcd - pwa</title>
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../css/master.css" media="screen" title="no title">
    <link id="templates" rel="import" href="views/templates.html">
    <link rel="manifest" href="manifest.json">
</head>

<body>
    <h1 class="banner">
        <span>xkcd</span>
        <i class="fa fa-random"></i>
    </h1>
    <div class="post-container"></div>
    <div class="goto-top"><i class="fa fa-toggle-up"></i></div>
    <script src="../js/app.js" charset="utf-8"></script>
</body>

</html>